@model LabMaintanance6.Models.AllUser

@{
    ViewBag.Title = "Index";
}

<h2>Welcome Teacher</h2>

@*<a href="@Url.Action("Edit", "T_profile", new { id = Model.user_id })" class="btn btn-info btn-action" id="take-action-@Model.user_id">Edit profile</a>*@
