@model LabMaintanance6.Models.AllUser

@{
    ViewBag.Title = "Store Email";
    Layout = "~/Views/Shared/GeneralLayout.cshtml";
}

<h2>Please enter your mail address here</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.Label("Email:")
        @Html.TextBox("email", "", new { @class = "form-control", required = "required" })
    </div>
    <button type="submit" class="btn btn-primary">Store Email</button>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
