@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        body {
            background-image: url('path_to_your_background_image');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }

        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: rgba(255, 255, 255, 0.8);
        }

        .app-name {
            font-size: 48px;
            font-weight: bold;
            color: #333;
            margin-bottom: 20px;
        }

        .database-icon {
            font-size: 100px;
            color: #007bff;
            margin-bottom: 20px;
        }

        p {
            font-size: 18px;
            color: #555;
            margin-bottom: 20px;
        }

        .login-button {
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            text-decoration: none;
            background-color: #007bff;
            border-color: #007bff;
            color: #fff;
            border-radius: 4px;
            transition: background-color 0.3s ease;
        }

            .login-button:hover {
                background-color: #0056b3;
                border-color: #0056b3;
            }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="app-name">Lab Maintanior</h1>
        <i class="database-icon fas fa-database"></i>
        <p>Welcome to the CSE Computer Lab!</p>
        <p>This app is designed to help you manage and maintain the computer lab facilities efficiently.</p>
        <a class="login-button" href="@Url.Action("Login", "Home")" type="button">Click here to Login</a>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>
